COMPOSE_PROJECT_NAME=bdml

POSTGRES_HOST_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=oil_data

MINIO_API_HOST_PORT=9000
MINIO_CONSOLE_HOST_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

JUPYTERHUB_HOST_PORT=8000
JUPYTERHUB_USER=jovyan
JUPYTERHUB_PASSWORD=jupyter

SUPERSET_HOST_PORT=8088
SUPERSET_SECRET_KEY=superset_secret_key_2026
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com