POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=bigdata_ml
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=oil-data

SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_SECRET_KEY=change_me